<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.crg"><head>
    <meta charset="UTF-8">
    <title>Редактирование товара &laquo; [[${product.productName}]]&raquo; &ndash; pet-проект для отработки навыков!</title>
</head>
<body>
<a data-th-href="@{/products/{productId}(productId=${product.id})}">&larr; К товару</a>
    <h1>Редактирование товара [[${product.productName}]]</h1>
<div th:if="${product.image}">
    <img width="140" th:src="@{rest/{productId}/avatar(productId=${product.id})}" alt="Product image">
</div>
<br>
    <form method="post" data-th-action="@{/products/{productId}/edit(productId=${product.id})}" enctype="multipart/form-data">
        <label>
            Наименование товара:<br>
            <input type="text" name="productName" data-th-value="product.productName">
        </label><br>
        <label>
            Описание товара:<br>
            <textarea name="description" data-th-value="product.description"></textarea>
        </label><br>
        <label>
            Стоимость одного товара:<br>
            <input type="text" name="price" data-th-value="product.price>
        </label><br>
        <label>
            Картинка:<br>
            <input type="file", name="image">
        </label><br>
        <button type="submit">Изменить</button>
    </form>
</body>
</html>