<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.crg">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов &ndash; pet-проект для отработки навыков!</title>
</head>
<body>
<a data-th-href="@{/products/new}">+ Создать новый товар</a><br>
<a data-th-href="@{/users/new}">+ Открыть страницу пользователя</a>
    <h1>Список товаров</h1>
    <table>
        <thead>
        <tr>
            <th>Код товара</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Изготовитель</th>
            <th>Стоимость за единицу</th>
            <th>Вид</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="product:${products}">
            <td data-th-text="${product.keyProduct}"></td>
            <td>
                <a data-th-href="@{products/{productId}(productId=${product.id})}"
                data-th-text="${product.productName}"></a>
            </td>
            <td data-th-text="${product.description}"></td>
            <td data-th-text="${product.maker}"></td>
            <td data-th-text="${product.price}"></td>
            <td>
                <div th:if="${product.image}">
                    <img width="140" th:src="@{products/rest/{productId}/avatar(productId=${product.id})}" alt="Product image">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
<form method="post" data-th-action="@{/logout}">
    <button type="submit">Выйти</button>
</form>
</body>
</html>