<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь &ndash; pet-проект для отработки навыков!</title>
</head>
<body>
<a data-th-href="@{/users/list}">&larr; К списку пользователей</a>
    <h1>Новый пользователь</h1>
    <form method="post" data-th-action="@{/users/new}" enctype="multipart/form-data">
        <label>
            Адрес электронной почты:<br>
            <input type="text" name="userEmail">
        </label><br>
        <label>
            Имя пользователя:<br>
            <input type="text" name="userName">
        </label><br>
        <label>
            Пароль:<br>
            <input type="text" name="password">
        </label><br>
        <label>
            Картинка:<br>
            <input type="file" name="image">
        </label><br>
        <button type="submit">Создать</button>
    </form>
</body>
</html>